<div *ngIf="userAccount">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{userAccount.name}} <small>({{userAccount.login}})</small>
      <span * ngIf="userAccount.company">,Works at {{userAccount.company}}</span>
      {{userAccount.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{userAccount.avatar_url}}" class="img-circle img-reponsive" alt="userAccount image">
        </div>
    
      </div>
    </div>
  </div>
</div>